In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
from numpy.linalg import inv

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [3]:
#Question_1

pd.__version__

'2.2.3'

In [4]:
#Question_2

df.shape

(2160, 12)

In [5]:
#Question_3

df.Brand.nunique()

27

In [6]:
#Question_4
#Total number of columns with missing value

col = []

for i in df.columns:
    if df[i].isna().sum() != 0:
        col.append(i)

col_count_with_misinval = len(col)
col_count_with_misinval

3

In [7]:
#Question_5


df1 = df.groupby('Brand')['Final Price'].agg('max')
df1[df1.index=='Dell']

Brand
Dell    3936.0
Name: Final Price, dtype: float64

In [8]:
#Question_6

median_screen = df['Screen'].median()
mode_screen = df['Screen'].mode()

print(median_screen, mode_screen)

15.6 0    15.6
Name: Screen, dtype: float64

In [9]:
print(df['Screen'].isna().sum())

df.fillna(dict.fromkeys(['Screen'], mode_screen), inplace=True)

median_screen = df['Screen'].median()
mode_screen = df['Screen'].mode()

print(median_screen, mode_screen)

4
15.6 0    15.6
Name: Screen, dtype: float64

In [10]:
#Question_6

y = [1100, 1300, 800, 900, 1000, 1100]

X1 = df[df['Brand'] == 'Innjoo']
X = X1[['RAM', 'Storage', 'Screen']].values
XT = X.T
XTX = XT@X
XTX_inv = inv(XTX)
w = XTX_inv@XT@y

w.sum()

91.2998806299555